Day-3/FirstWCFApp.Client/FirstWCFApp.WsdlClient/Service References/ServiceProxies/Metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DivideByZeroDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivideByZeroDetails" nillable="true" type="tns:DivideByZeroDetails" />
  <xs:complexType name="CalculatorInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorInput" nillable="true" type="tns:CalculatorInput" />
  <xs:complexType name="CalculatorOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorOutput" nillable="true" type="tns:CalculatorOutput" />
</xs:schema>