Day-2/FirstWCFApp.Client/FirstWCFApp.WsdlClient/Service References/ServiceProxies/Metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/Metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:int" />
        <xs:element minOccurs="0" name="number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:int" />
        <xs:element minOccurs="0" name="number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:int" />
        <xs:element minOccurs="0" name="number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:int" />
        <xs:element minOccurs="0" name="number2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" minOccurs="0" name="Input" nillable="true" type="q1:CalculatorInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" minOccurs="0" name="ProcessResult" nillable="true" type="q2:CalculatorOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FirstWCFApp.Contracts" minOccurs="0" name="Input" nillable="true" type="q3:CalculatorInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>